html, body {
    background-color: #EDEDED;
    font-family: 'Titillium Web', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 244px;*/
}

.btn-primary {
    background-color: #0b03aa;
    border: 1px solid #0b03aa;
}

#main-logo {
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 701;
    max-width: 400px;
    max-height: 170px;
}
#main-logo:hover,
#main-logo:active,
#main-logo:focus {
    background-color: transparent!important;
}

#main-logo img:hover {
    background-color: #f0ca006b;
    border-radius: 47%;
    box-shadow: 0 0 0 1.2rem #0603aa6b;
    transition: background-color, box-shadow .15s ease-in-out;
    transition-property: background-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

#brand-bar {
    height: 50px;
}

#brand-bar-inner {
    padding: 0;
}

#brand-name-top {
    margin-left: 11rem;
}

.brand-name {
    color: white;
    font-size: 35px;
    line-height: 1;
    letter-spacing: .1rem;
    font-weight: 200;
    font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 720px) {
    .brand-name {
        font-size: 25px;
    }
    #brand-name-top {
        margin-left: 1rem;
    }
    .brand-hashtag {
        font-size: 15px;
    }
}

.brand-hashtag {
    color: #f0ca00;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 0;
    margin-left: .5rem;
    padding: 0;
    line-height: 1;
    letter-spacing: .1rem;
}

#nav1 {
    height: 50px;
}
#nav1 .nav-item {
    margin-left: 1px;
    margin-right: 1px;
}
#nav1 a {
    color: #f0ca00;
    font-size: 12px;
    padding: 0.75rem;
    font-weight: 400;
    letter-spacing: .1rem;
    border-radius: 21px;
    font-family: 'Titillium Web', sans-serif;
}
#nav1 a:hover,
#nav1 a:active,
#nav1 a:focus {
    background-color: #f0ca00;
    color: black;
    transition: background-color, color .15s ease-in-out;
    transition-property: background-color, color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}


#nav1 ul {
    padding-right: 1rem;
}

#search-input {
    color: #ffc10780;
    background-color: transparent;
    border-color: #ffc10780;
}
#search-input:hover {
    border-color: #f0ca00;
    transition: background-color .15s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
#search-input:focus {
    color: #f0ca00;
    background-color: transparent;
    border-color: #f0ca00;
    box-shadow: 0 0 0 0.2rem #f0ca004d;
}

#navbar-toggle {
    position: absolute;
    right: 1rem;
    z-index: 703;
}

.navbar-toggler:hover {
    border-color: #ffffff50;
    transition: border-color .15s ease-in-out;
    transition-property: border-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#nav2 {
    padding-left: 11rem;
    width: 100%;
}

.nav2-transparent {
    background-color: #00000070;
    position: absolute;
    top: 100px;
    z-index: 700;
}

.nav2-dark {
    background-color: #1d1d1d;
    position: relative;
}

#nav2 .nav-item {
    height: 54px;
    list-style: none outside none;
    margin: 0;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#nav2 .nav-link {
    height: 100%;
    padding: 16px 20px 12px 20px;
    color: white;
}
#nav2 .nav-link:hover, #nav2 .nav-link.active {
    background-color: #fff;
    color: blue;
    transition: background-color, color .15s ease-in-out;
    transition-property: background-color, color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

#side-nav {
    position: absolute;
    right: 0;
    width: 320px;
    z-index: 702;
    background-color: #000000cc!important;
    box-shadow: -10px 10px 512px 256px #000000cc;
}

@media (min-width: 768px) {
    #side-nav { display: none; }
}

#side-nav .nav-link {
    color: #ffffffba;
}
#side-nav .nav-link:hover {
    background-color: #a7a7a766;
    color: #f0ca00;
    transition: background-color, color .15s ease-in-out;
    transition-property: background-color, color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.dropdown-menu {
    padding: 8px;
}

#nav1 .dropdown-menu {
    background-color: #3b3b3c;
    border: 2px groove #4f4f4f;
}
#nav1 .dropdown-item {
    text-transform: uppercase;
}

#nav2 .dropdown-menu {
    border: 0;
    padding: 0;
    margin-top: 0;
    border-radius: 0;
    text-transform: none;
    font-size: 15px;
    letter-spacing: .05rem;
}
#nav2 .dropdown:hover > .dropdown-menu {
    display: block;
}
#nav2 .dropdown-item {
    color: #0b03aa;
    font-weight: 300;
    padding: 12px 20px 10px;
}
#nav2 .dropdown-item:hover,
#nav2 .dropdown-item:focus,
#nav2 .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0b03aa;
}

#side-nav .dropdown-menu {
    background-color: #2a2a2a;
    border: 2px groove #ffc10780;
}

#side-nav .dropdown-item {
    color: #ffffffa8;
}

#side-nav .dropdown-item:hover {
    color: #f0ca00;
    background-color: #a7a7a766;
    transition: background-color, color .15s ease-in-out;
    transition-property: background-color, color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

#side-nav hr {
    width: 85%;
    border-top: 1px solid rgba(187, 187, 187, 0.49);
}

.bg-dark {
    background-color: #3B3B3C!important;
}

.btn-outline-warning {
    color: #f0ca00;
    border-color: #f0ca00;
}

.btn-outline-warning:hover {
    background-color: #f0ca00;
}

.carousel-inner {
    height: 512px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#global-link-group {
    color: #212529;
}

#side-nav #global-link-group {
    padding: 0;
}

.global-links-abs {
    position: absolute;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #00000070;
}

.global-links-rel{
    background-color: #484848;
    padding: 20px;
}

#col-left {
    background-color: #fcfcfc;
    padding: 20px;
    color: #0b03aa;
}

#col-left hr {
    border-top: 2px solid rgba(156, 156, 156, 0.19);
}

#col-left .card {
    border: 2px solid rgba(128, 128, 128, 0.31);
    box-shadow: 0px 0px 14px 2px #00000050;
    margin: 32px;
}

#col-right {
    background-color: #0b03aa;
    padding: 20px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

#col-right hr {
    border-top: 1px solid rgba(255, 255, 255, 0.42);
}

#col-right .card {
    box-shadow: 0px 0px 14px 2px #ffffff66;
    background-color: #0b03aa;
    padding: 12px;
}
#col-right .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}

#col-right .list-group-item {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
    margin-bottom: 0;
    padding: 0;
    background-color: #0b03aa;
}

#upcomingEventsButton {
    background-color: #2217ff;
}
#upcomingEventsButton:hover {
    background-color: #1769ff;
    transition: background-color .15s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.card-img-overlay {
    background-color: #00000050;
}
.card-img-overlay:hover {
    background-color: #ffffff25;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.overlay-center {
    text-align: center;
    display: flex;
}

.upcoming-events-date {
    margin: 0;
    border: 2px solid #ffffffd9;
    padding: 4px;
}

.glow-link-gold:hover {
    box-shadow: 0px 0px 92px 1px gold !important;
    transition: box-shadow .15s ease-in-out;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.glow-link-white:hover {
    box-shadow: 0px 0px 92px 1px white !important;
    transition: box-shadow .15s ease-in-out;
    transition-property: box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

a {
    color: unset;
}

.overflow-auto {
    overflow: auto !important;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /*height: 244px;*/
    line-height: 60px;
    color: white;
    background-color: #3B3B3C;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
    .dropdown-item {
        white-space: normal;
    }
}

.social-link {
    max-height: 50px;
    max-width: 50px;
    border: 1px solid #f0ca0047;
    border-radius: 50%;
    overflow: hidden;
}
.social-link:hover {
    border: 1px solid #f0ca00;
    transition: border .15s ease-in-out;
    transition-property: border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.social-link img {
    padding: 11px;
    width: 50px;
}

#scroll-top-btn {
    cursor: pointer;
    height: 74px;
    background-color: #0b03aa;
    border-color: #0b03aa;
}
#scroll-top-btn:hover {
    background-color: #3d37d2;
    border-color: #433ce8;
    transition: background-color, border-color .15s ease-in-out;
    transition-property: background-color, border-color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}

#directory-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f8f9fa
}
#directory-btn-group {
    margin-right: 1rem;
    float: right;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}
#directory-header {
    border-bottom: 2px solid lightgray;
    padding-bottom: 6px;
    padding-left: 2rem;
    margin-left: 2rem;
    margin-right: 1rem;
    text-align: left;
}
#directory-columns {
    column-count: 3;
    margin-top: 2rem;
}
#directory-container h5 {
    border-bottom: 1px solid lightgray;
}
#directory-container ul {
    list-style: none;
}
#directory-columns ul li ul {
    list-style: disc;
}